body {
    font-family: 'Rubik', sans-serif;
}




.App {
    background: #fffffe;
    min-height: 100vh;
}

.bg-secon {
    background: #d8eefe;
}

.headline {
    font-weight: bold;
    color: #094067;
    margin-top: 1rem;
}

.paragraph {
    color: #5f6c7b;
    text-align: justify;
    margin-top: 1rem;
}

.button {
    background: #3da9fc;
    margin-top: 1rem;
    color: #fffffe;
}
