body {
    font-family: 'Rubik', sans-serif;
}

span {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.App {
    background: #fffffe;
    min-height: 100vh;
}

.bg-prima {
    background: #fffffe;
}

.bg-prima-dark {
    background: #0f0e17;
}

.bg-orange-dark {
    background: #ff8906;
}

.bg-secon {
    background: #d8eefe;
}

.bg-secon-dark {
    background: #2e2f3e
}

.bg-blue-dark {
    background: #094067;
}

.headline {
    font-weight: bold;
    color: #094067;
}

.headline-dark{
    font-weight: bold;
    color: #ff8906;
}

.paragraph {
    color: #5f6c7b;
}

.paragraph-white {
    color: #fffffe;
}

.paragraph-blue {
    color: #3da9fc;
}

.button {
    background: #3da9fc;
    color: #fffffe;
    border: 1px solid #3da9fc;
}

.button-dark {
    background: #ff8906;
    color: #fffffe;
    border: 1px solid #ff8906;
}

.button:hover {
    background: #094067;
    color: #fffffe;
    border: 1px solid #094067;
}

.button-dark:hover {
    background: #ca6e04;
    color: #fffffe;
    border: 1px solid #ca6e04;
}

.option {
    background: #094067;
    color: #fffffe;
}

.scroll-vertical {
    overflow-y: scroll;
    height: 70vh;
}

#pokemon-moves :nth-child(odd){
    color: white;
    /* font-weight: 600 */
}

.ability-description {
    /* color: #5f6c7b; */
    /* font-weight: 600; */
    text-align: justify !important;
}


/* ANIMATIONS */
.zoom {
    transition: transform 0.4s;
  }
  
.zoom:hover {
    transform: scale(1.2);
  }
  